---
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignOperands: 'true'
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: true
AllowAllArgumentsOnNextLine: 'false'
BasedOnStyle: Microsoft
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
ColumnLimit: '180'
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
FixNamespaceComments: false
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentRequires: false
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertTrailingCommas: None
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpacesInAngles: 'false'
TabWidth: 4
UseTab: Never