# Generated VS Files from premake.
.vcxproj
.vcxproj.filters
.vcxproj.user

*.sln

.vs/

# Shader bytecode
Shaders/**/*.cso

# DXC Files copied into the shaders directory.
Shaders/*.exe
Shaders/*.dll
Shaders/*.lib

# Bin folder.
Bin/
 
